.nav-list {
  align-self: center;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;

  font-weight: 700;
  font-size: 18px;
}
.nav-list__item {
}
.nav-list__link {
  &--dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    &::after {
      content: url("./../img/icons/arrow-down.svg");
      height: 18px;
    }
  }
}
